html, body, #root, .app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

body.dark-mode {
  background-color: #001f4d; /* deep blue */
  color: white;
}

body {
  background-color: white;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
